[submodule "emulator"]
	path = emulator
	url = https://github.com/CardputerZero/M5CardputerZero-Emulator.git
	branch = main
[submodule "apps/nc2000"]
	path = apps/nc2000
	url = https://github.com/CardputerZero/CardputerZero-NC2000.git
	branch = ci-cd
