[submodule "emulator"]
	path = emulator
	url = https://github.com/eggfly/M5CardputerZero-Emulator
	branch = main
[submodule "apps/nc2000"]
	path = apps/nc2000
	url = https://github.com/eggfly/CardputerZero-NC2000
	branch = ci-cd
